{# app/Resources/views/form.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
  {{ include('nav.html.twig') }}


  {{ include('title.html.twig') }}

  <div class="container">

    {{ include('table.html.twig') }}
    {{ include('addTier.html.twig') }}
    {{ include('removeTier.html.twig') }}

	{{ include('client.html.twig') }}

  </div>
{% endblock %}
